@import 'nullstyle';

body {
	font-family: Montserrat;
	color: #252b42;
	font-weight: 500;
	height: 100%;
	background: #fafafa;
}

.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
._container {
	max-width: 1076px;
	margin: 0 auto;
	padding: 0 15px;
}
.bg {
	position: relative;
	& img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.block-header {
	margin: 80px 0 50px;
}
.block-header__title {
	color: #252b42;
	font-size: 40px;
	font-weight: 700;
	line-height: 142.5%;
	letter-spacing: 0.2px;
	text-align: center;
	margin: 0 0 10px;
}
.block-header__subtitle {
	color: #737373;
	font-size: 14px;
	font-weight: 500;
	line-height: 142.857%;
	letter-spacing: 0.2px;
	text-align: center;
	max-width: 511px;
	width: 100%;
	margin: 0 auto;
}
@media (max-width: 638px) {
	.block-header__title {
		font-size: 33px;
	}
}
@media (max-width: 375px) {
	.block-header__title {
		font-size: 27px;
	}
}

// header

.header {
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 1000;
}
.header__container {
	display: flex;
	min-height: 104px;
	align-items: center;
}
.header__logo {
	font-size: 24px;
	font-weight: 700;
	text-decoration: none;
	color: inherit;
}
.header__menu {
	margin: 0 0 0 132px;
}
.menu {
	padding: 5px 0;
}
.menu__list {
	display: flex;
	flex-wrap: wrap;
}
.menu__item {
	&:not(:last-child) {
		margin: 0 21px 0 0;
	}
}
.menu__link {
	font-size: 14px;
	color: #737373;
	text-decoration: none;
	font-weight: 600;
	letter-spacing: 0.2px;
	line-height: 171%;
}
@media (max-width: 1000px) {
	.header__menu {
		margin: 0 0 0 80px;
	}
}
@media (max-width: 767px) {
	.header__menu {
		margin: 0 0 0 40px;
	}
}
@media (max-width: 480px) {
	.header__menu {
		margin: 0 0 0 20px;
	}
	.header__container {
		min-height: 65px;
	}
	.menu__link {
		font-size: 18px;
	}
}

// main

.main {
	flex: 1 1 auto;
}
.main__major-block {
}
.major-block {
	position: relative;
}
.major-block__body {
	padding: 184px 0 191px 0;
	position: relative;
	z-index: 2;
	max-width: 509px;
	& > *:not(:last-child) {
		margin: 0 0 35px 0;
	}
}
.major-block__container {
}
.major-block__title {
	color: #252b42;
	font-size: 58px;
	font-weight: 800;
	line-height: 80px;
	letter-spacing: 1.37px;
}
.major-block__text {
	color: #737373;
	font-size: 20px;
	font-weight: 500;
	line-height: 30px;
	letter-spacing: 1.5px;
	max-width: 416px;
}
.major-block__buttons {
	font-size: 14px;
	font-weight: 700;
	line-height: 28px;
	letter-spacing: 0.2px;
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	& a :not(.button--get) {
		text-decoration: none;
		color: #0d5c63;
	}
	& a {
		text-decoration: none;
		display: flex;
		align-items: center;
	}
}
.major-block__button {
	text-align: center;
	padding: 5px 36px;
	min-height: 48px;
	border: 1px solid #0d5c63;
	border-radius: 37px;
	color: #0d5c63;
	transition: 0.2s linear;
	&:hover {
		transition: 0.2s linear;
		background: #00000010;
		font-size: 16px;
	}
}
.button--get {
	background: #ff7b47;
	border-radius: 37px;
	color: #fff;
	border: none;
	&:hover {
		background: #ea642f;
	}
}
.major-block__bg {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
@media (max-width: 1350px) {
	.major-block__bg img {
		object-position: right;
	}
}
@media (max-width: 997px) {
	.major-block__bg {
		opacity: 0.5;
	}
	.major-block__body {
		padding: 125px 0 191px 0;
	}
}
@media (max-width: 767px) {
	.major-block__title {
		font-size: 50px;
		line-height: 77px;
	}
	.major-block__text {
		font-size: 18px;
		max-width: 360px;
		color: #454444;
	}
	.major-block__button {
		padding: 8px 45px;
	}
	.major-block__body {
		padding: 115px 0 191px 0;
	}
}

@media (max-width: 424px) {
	.major-block__title {
		font-size: 36px;
		line-height: 60px;
	}
	.major-block__text {
		font-size: 16px;
		max-width: 280px;
		font-weight: 600;
	}
	.major-block__button {
		padding: 9px 47px;
		flex: 1 1 auto;
		justify-content: center;
	}
}

// services

.main__services {
	position: relative;
	z-index: 2;
	margin: -111px 0 0 0;
}
.services {
}
.services__container {
}
.services__body {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -15px;
	justify-content: center;
}
.services__column {
	padding: 0 15px;
	flex: 0 1 30%;
}
.services__item {
	min-width: 217px;
	background-color: #fff;
	box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
	padding: 35px;
	transition: 0.4s linear;
	& * {
		transition: 0.4s linear;
	}
	& svg {
		margin: 0 0 10px 0;
	}
	&:hover svg * {
		fill: white;
	}
	&:hover {
		background-color: #0d5c63;
	}
	&:hover .item-services__title {
		color: #fff;
	}
	&:hover .item-services__text {
		color: #fff;
	}
}
.item-services {
	& > *:not(:last-child) {
		margin: 0 30px 0 0;
	}
}
.item-services__icon {
	margin: 0 0 10px 0;
	height: 47.415px;
	display: flex;
	align-items: flex-end;
}
.item-services__title {
	color: #252b42;
	font-size: 24px;
	font-weight: 700;
	line-height: 32px;
	letter-spacing: 0.1px;
}
.item-services__text {
	color: #737373;
	font-size: 14px;
	font-weight: 500;
	line-height: 20px;
	letter-spacing: 0.2px;
	margin: 10px 0 0 0;
}
@media (max-width: 1090px) {
	.item-services__title {
		font-size: 19px;
	}
}

@media (max-width: 1072px) {
	.services__column {
		margin: 0 0 20px 0;
	}
}

// experience

.main__experience {
}
.experience {
}
.experience__container {
}
.experience__header {
}

.experience__body {
	display: flex;
	justify-content: space-between;
	margin: 0 -15px;
	& > :not(:last-child) .experience__item {
		margin: 0px 0px 10px 0px;
	}
}
.experience__column {
	padding: 0 14px;
	flex: 0 1 25%;
}
.experience__item {
	min-width: 155px;
	background-color: #fff;
	padding: 30px 40px;
	text-align: center;
	& > *:not(:last-child) {
		margin: 0 0 10px 0;
	}
}
.experience__icon {
	height: 48px;
	display: flex;
	align-items: flex-end;
	justify-content: center;
}
.experience__value {
	color: #252b42;
	font-size: 40px;
	font-weight: 700;
	line-height: 57px;
	letter-spacing: 0.2px;
}
.experience__text {
	color: #737373;
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
	letter-spacing: 0.1px;
}
@media (max-width: 1072px) {
	.experience__body {
		flex-wrap: wrap;
		justify-content: center;
	}
	.experience__item {
		min-height: 209px;
	}
}

// advice

.main__advice {
}
.advice {
}
.advice__container {
	margin-bottom: 80px;
}
.advice__header {
	margin: 205px 0 45px 0;
}
.advice__body {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 20px;
	margin: 0 -15px;
}
.advice__column {
	background-color: #fff;
	display: flex;
	flex: 1;
	justify-content: space-between;
	flex-direction: column;
}
.advice__item {
	padding: 30px;
	display: flex;
	flex-direction: column;
	align-items: stretch;
}
.advice__title {
	max-width: 135px;
	word-wrap: normal;
	color: #252b42;
	font-size: 16px;
	font-weight: 700;
	line-height: 150%;
	letter-spacing: 0.1px;
	margin: 0 0 19px;
}
.advice__text {
	// min-height: 80px;
	max-width: 180px;
	flex: 1;
	color: #737373;
	font-size: 14px;
	font-weight: 500;
	line-height: 142.857%;
	letter-spacing: 0.2px;
}
.advice__img {
	display: block;
	width: 100%;
}
@media (max-width: 1090px) {
	.advice__header {
		margin: 105px 0 45px 0;
	}
}
@media (max-width: 622px) {
	.advice__item {
		& > * {
			max-width: none;
			text-align: center;
		}
	}
}

@media (max-width: 481px) {
	.advice__header {
		margin: 65px 0 45px 0;
	}
}

// about

.main__about {
}
.about {
	background: #fff;
	padding: 100px 0 0 0;
}
.about__container {
	padding: 0 0 138px 0;
}
.about__header {
	margin: 0 0 100px 0;
}
.about__body {
	display: flex;
	flex-wrap: wrap;
	gap: 120px;
}
.about__column {
	flex: 1 1 50%;
}
.about__column--second {
	max-width: 330px;
}
.about__item {
}
.about__video {
	& iframe {
		max-height: 442px;
		width: 100%;
		height: 100vh;
	}
}
.about__inner {
	margin: 20px 0 0 0;
	padding: 0 0 20px 0;
}
.about__title {
	color: #252b42;
	font-size: 40px;
	font-weight: 700;
	line-height: 142.5%;
	letter-spacing: 0.2px;
}
.about__text {
	color: #737373;
	font-size: 14px;
	font-weight: 500;
	line-height: 142.857%;
	letter-spacing: 0.2px;
	margin: 10px 0 0 0;
}
.about__outer {
}
.about__article {
	margin: 30px 0 0 0;
	display: flex;
}
.about__icon {
	margin: 0 20px 0 0;
}
.about__info {
	color: #737373;
	font-size: 14px;
	font-weight: 600;
	line-height: 171.429%;
	letter-spacing: 0.2px;
	& p {
		margin: 0 0 5px 0;
		color: #252b42;
		font-size: 16px;
		font-style: normal;
		font-weight: 700;
		line-height: 150%;
		letter-spacing: 0.1px;
	}
}
@media (max-width: 1090px) {
	.about {
		padding: 60px 0 0 0;
	}
}
@media (max-width: 930px) {
	.about__column--second {
		margin: 0 auto;
	}
	.about__body {
		gap: 60px;
	}
}
@media (max-width: 481px) {
	.about__video {
		& iframe {
			max-height: 300px;
			width: 100%;
			height: 100vh;
		}
	}
}
@media (max-width: 376px) {
	.about__video {
		& iframe {
			max-height: 225px;
			width: 100%;
			height: 100vh;
		}
	}
	.about__title {
		text-align: center;
		font-size: 27px;
	}
	.about__text {
		text-align: center;
	}
}

// clients

.main__clients {
}
.clients {
}
.clients__container {
}
.clients__body {
	padding: 50px 0;
	margin: 0 0 20px 0;
}
.clients__items {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 80px;
	& > * :not(:last-child) {
		margin: 0 30px 0 0;
	}
}
.client__item {
	display: flex;
	justify-content: center;
	align-items: center;
	& img {
		max-width: 100%;
	}
	text-decoration: none;
}

// subscribe

.main__subscribe {
}
.subscribe {
	position: relative;
	padding: 0 0 20px 0;
}
.subscribe::before {
	content: '';
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 77px;
	left: 0;
	background: #252b42;
}
.subscribe__container {
}
.subscribe__body {
	gap: 15px;
	position: relative;
	z-index: 2;
	flex-wrap: wrap;
	background-color: #17213c;
	padding: 30px 50px;
	display: flex;
	max-width: 986px;
	align-items: center;
	justify-content: space-between;
}
.subscribe__text {
	max-width: 266px;
	width: 100%;
	color: #fff;
	font-size: 24px;
	font-weight: 700;
	line-height: 133.333%;
	letter-spacing: 0.1px;
}
.subscribe__form {
	display: flex;
	flex: 0 1 50%;
}
.subscribe__input {
	color: #737373;
	flex: 1 1 auto;
	border-radius: 5px;
	border: 1px solid #e6e6e6;
	background: #f9f9f9;
	padding: 0 20px;
	&:focus {
		outline: none;
		color: black;
	}
}
.subscribe__button {
	margin: 0 0 0 -10px;
	border-radius: 0px 5px 5px 0px;
	border: 1px solid #e6e6e6;
	padding: 15px 22.5px;
	background: #ff7b47;
}

@media (max-width: 711px) {
	.subscribe__body {
		justify-content: center;
	}
	.subscribe__text {
		text-align: center;
	}
}
@media (max-width: 342px) {
	.subscribe__input {
		padding: 0 5px;
	}
	.subscribe__body {
		gap: 20px;
	}
}

// contact

.main__contact {
}
.contact {
	padding: 0 0 110px 0;
}
.contact__container {
}
.contact__header {
}
.block-header {
}
.block-header__title {
}
.block-header__subtitle {
}
.contact__body {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}
.contact__column {
	background: #fff;
	transition: 0.4s linear;
	&:hover {
		background: #252b42;
		transition: 0.4s linear;
	}
	& svg * {
		transition: 0.4s linear;
	}
	&:hover svg * {
		fill: #ffffff;
		transition: 0.4s linear;
	}
	&:hover .contact__mail {
		color: #ffffff;
	}
	&:hover .contact__text {
		color: #ffffff;
	}
	&:hover .contact__button {
		cursor: pointer;
		color: #ffffff;
		border-color: #ffffff;
	}
	&:hover {
		transition: 0.4s linear;
		height: 393px;
	}
}
.contact__item {
	padding: 50px 40px;
	& > *:not(:last-child) {
		margin: 0 0 15px 0;
	}
}
.contact__icon {
	& svg {
		text-align: center;
	}
	text-align: center;
}
.contact__mail {
	transition: 0.4s linear;
	text-align: center;
	color: #252b42;
	font-size: 14px;
	font-weight: 600;
	line-height: 171.429%;
	letter-spacing: 0.2px;
}
.contact__text {
	transition: 0.4s linear;
	text-align: center;
	color: #252b42;
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: 150%;
	letter-spacing: 0.1px;
}
.contact__button {
	transition: 0.4s linear;
	display: flex;
	margin: 0 auto;
	text-align: center;
	padding: 10px 20px;
	border-radius: 5px;
	border: 1px solid #ff7b47;
	background-color: transparent;
	color: #ff7b47;
	font-size: 14px;
	font-weight: 600;
	line-height: 171.429%;
	letter-spacing: 0.2px;
}

// footer

.footer {
}

// agency

.footer__agency {
}
.agency {
	padding: 40px 0;
	background: #fff;
}
.agency__container {
}
.agency__body {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}
.agency__column {
	flex: 0 1 65%;
}
.agency__column--second {
	max-width: 160px;
	display: flex;
	align-items: end;
	justify-content: end;
	margin: 0 35px 0 0;
}
.agency__item {
}
.agency__title {
	color: #252b42;
	font-size: 24px;
	font-weight: 700;
	line-height: 133.333%;
	letter-spacing: 0.1px;
	margin: 0 0 10px 0;
}
.agency__text {
	color: #737373;
	font-size: 14px;
	font-weight: 500;
	line-height: 142.857%;
	letter-spacing: 0.2px;
}
.agency__button {
	border-radius: 5px;
	border: none;
	background: #ff7b47;
	color: #fff;
	font-size: 14px;
	font-weight: 700;
	line-height: 200%;
	letter-spacing: 0.2px;
	padding: 15px 40px;
	transition: 0.3s linear;

	&:hover {
		background: #b65732;
		transition: 0.3s linear;
	}
}
@media (max-width: 587px) {
	.agency__body {
		justify-content: center;
		gap: 20px;
	}
	.agency__column--second {
		margin: 0;
	}
	.agency__title {
		text-align: center;
	}
	.agency__text {
		text-align: center;
	}
}

// info

.footer__info {
}
.info {
	background: #17213c;
	padding: 50px 0 30px 0;
}
.info__container {
}
.info__body {
	display: flex;
	flex-wrap: wrap;
}
.info__column {
	flex: 0 1 19%;
	margin: 0 0 30px 0;
}
.info__title {
	color: #fff;
	font-size: 16px;
	font-weight: 700;
	line-height: 150%;
	letter-spacing: 0.1px;
	margin: 0 0 20px 0;
}
.info__elems {
	& > *:not(:last-child) {
		margin: 0 0 10px 0;
	}
}
.info__elem {
	color: #fff;
	font-size: 14px;
	font-weight: 600;
	line-height: 171.429%;
	letter-spacing: 0.2px;
	display: flex;
	gap: 20px;
	& a {
		display: block;
		color: #fff;
		text-decoration: none;
	}
}
@media (max-width: 963px) {
	.info__column {
		display: flex;
		flex-direction: column;
		flex: 0 1 50%;
		justify-content: center;
		align-items: center;
	}
}

// rights

.footer__rights {}
.rights {
	padding: 25px 0;
}
.rights__container {}
.rights__body {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.rights__column {
	display: flex;
	align-items: center;
	justify-content: center;
	flex: 0 1 50%;
}
.rights__item {}
.rights__text {}
.rights__social {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
	& a {
		display: block;
	}
}
.rights__column--second {
	max-width: 180px;
}
.social {}
.social__item {
}
@media (max-width: 382px) {
	.rights__body {
		justify-content: center;
		gap: 15px;
	}
}