@import 'nullstyle';

body {
	font-family: Montserrat;
	color: #252b42;
	font-weight: 500;
  height: 100%;
}

.wrapper {
	min-height: 100%;
	overflow: hidden;
  display: flex;
  flex-direction: column;
}
._container {
	max-width: 1076px;
	margin: 0 auto;
	padding: 0 15px;
}
.bg {
	position: relative;
	& img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

// header

.header {
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 1000;
}
.header__container {
	display: flex;
	min-height: 104px;
	align-items: center;
}
.header__logo {
	font-size: 24px;
	font-weight: 700;
	text-decoration: none;
	color: inherit;
}
.header__menu {
	margin: 0 0 0 132px;
}
.menu {
	padding: 5px 0;
}
.menu__list {
	display: flex;
	flex-wrap: wrap;
}
.menu__item {
	&:not(:last-child) {
		margin: 0 21px 0 0;
	}
}
.menu__link {
	font-size: 14px;
	color: #737373;
	text-decoration: none;
	font-weight: 600;
	letter-spacing: 0.2px;
	line-height: 171%;
}
@media (max-width: 1000px) {
	.header__menu {
		margin: 0 0 0 80px;
	}
}
@media (max-width: 767px) {
	.header__menu {
		margin: 0 0 0 40px;
	}
}
@media (max-width: 480px) {
	.header__menu {
		margin: 0 0 0 20px;
	}
	.header__container {
		min-height: 65px;
	}
	.menu__link {
		font-size: 18px;
	}
}

// main

.main {
  flex: 1 1 auto;
}
.main__major-block {
}
.major-block {
	position: relative;
}
.major-block__body {
	padding: 184px 0 191px 0;
	position: relative;
	z-index: 2;
	max-width: 509px;
	& > *:not(:last-child) {
		margin: 0 0 35px 0;
	}
}
.major-block__container {

}
.major-block__title {
	color: #252B42;
	font-size: 58px;
	font-weight: 800;
	line-height: 80px;
	letter-spacing: 1.37;
}
.major-block__text {
	color: #737373;
	font-size: 20px;
	font-weight: 500;
	line-height: 30px;
	letter-spacing: 1.5;
	max-width: 376px;
}
.major-block__buttons {
}
.major-block__button {
}
.major-block__bg{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}


// footer

.footer {
}