@import 'nullstyle';

body {
	font-family: Montserrat;
	color: #252b42;
	font-weight: 500;
	height: 100%;
}

.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
._container {
	max-width: 1076px;
	margin: 0 auto;
	padding: 0 15px;
}
.bg {
	position: relative;
	& img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

// header

.header {
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 1000;
}
.header__container {
	display: flex;
	min-height: 104px;
	align-items: center;
}
.header__logo {
	font-size: 24px;
	font-weight: 700;
	text-decoration: none;
	color: inherit;
}
.header__menu {
	margin: 0 0 0 132px;
}
.menu {
	padding: 5px 0;
}
.menu__list {
	display: flex;
	flex-wrap: wrap;
}
.menu__item {
	&:not(:last-child) {
		margin: 0 21px 0 0;
	}
}
.menu__link {
	font-size: 14px;
	color: #737373;
	text-decoration: none;
	font-weight: 600;
	letter-spacing: 0.2px;
	line-height: 171%;
}
@media (max-width: 1000px) {
	.header__menu {
		margin: 0 0 0 80px;
	}
}
@media (max-width: 767px) {
	.header__menu {
		margin: 0 0 0 40px;
	}
}
@media (max-width: 480px) {
	.header__menu {
		margin: 0 0 0 20px;
	}
	.header__container {
		min-height: 65px;
	}
	.menu__link {
		font-size: 18px;
	}
}

// main

.main {
	flex: 1 1 auto;
}
.main__major-block {
}
.major-block {
	position: relative;
}
.major-block__body {
	padding: 184px 0 191px 0;
	position: relative;
	z-index: 2;
	max-width: 509px;
	& > *:not(:last-child) {
		margin: 0 0 35px 0;
	}
}
.major-block__container {
}
.major-block__title {
	color: #252b42;
	font-size: 58px;
	font-weight: 800;
	line-height: 80px;
	letter-spacing: 1.37px;
}
.major-block__text {
	color: #737373;
	font-size: 20px;
	font-weight: 500;
	line-height: 30px;
	letter-spacing: 1.5px;
	max-width: 416px;
}
.major-block__buttons {
	font-size: 14px;
	font-weight: 700;
	line-height: 28px;
	letter-spacing: 0.2px;
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	& a :not(.button--get) {
		text-decoration: none;
		color: #0d5c63;
	}
	& a {
		text-decoration: none;
		display: flex;
		align-items: center;
	}
}
.major-block__button {
	text-align: center;
	padding: 5px 36px;
	min-height: 48px;
	border: 1px solid #0d5c63;
	border-radius: 37px;
	color: #0d5c63;
	transition: 0.2s linear;
	&:hover {
		background: #00000010;
		font-size: 16px;
	}
}
.button--get {
	background: #ff7b47;
	border-radius: 37px;
	color: #fff;
	border: none;
	&:hover {
		background: #ea642f;
	}
}
.major-block__bg {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
@media (max-width: 1350px) {
	.major-block__bg img {
		object-position: right;
	}
}
@media (max-width: 997px) {
	.major-block__bg {
		opacity: 0.5;
	}
	.major-block__body {
		padding: 125px 0 191px 0;
	}
}
@media (max-width: 767px) {
	.major-block__title {
		font-size: 50px;
	}
	.major-block__text {
		font-size: 18px;
		max-width: 360px;
		color: #454444;
	}
	.major-block__button {
		padding: 8px 45px;
	}
}

@media (max-width: 424px) {
	.major-block__title {
		font-size: 40px;
	}
	.major-block__text {
		font-size: 15px;
		max-width: 280px;
	}
	.major-block__button {
		padding: 9px 47px;
		flex: 1 1 auto;
		justify-content: center;
	}
}

// footer

.footer {
}
